{partial:BlogArchiveHeader}

{block:Posts inlineMediaWidth="1020" inlineNestedMediaWidth="1020"}
<article class="{block:Date}post {/block:Date}{PostType}{block:PermalinkPage} single{/block:PermalinkPage}"{block:Date} data-post-id="{PostID}"{/block:Date}>
	{partial:PostHeader}

	{block:Text}
		{block:NotReblog}
			<div class="post_content">
				{Body}
			</div>
		{/block:NotReblog}

		{block:RebloggedFrom}
			<div class="post_content reblog_list">
				{block:Reblogs}
					<section class="reblog_entry{block:isOriginalEntry} original{/block:isOriginalEntry}">
						<div class="reblog_content">
							{Body}
						</div>

						<header class="reblog_header">
			      	<div class="reblog_info">
								<img class="portrait" src="{PortraitURL-64}" width="32" height="32" alt="{Username}" role="presentation" align="left" />
			        	<p class="reblogged_from">
			          	{lang:Reblogged from}<br />
			          	{block:HasPermalink}
			          		<a href="{Permalink}" rel="author">{Username}</a>
									{/block:HasPermalink}
				          {block:HasNoPermalink}
										<span class="desactivated">{Username}</span>
				          {/block:HasNoPermalink}
								</p>
							</div>
						</header>
					</section>
			  {/block:Reblogs}
			</div>
		{/block:RebloggedFrom}
	{/block:Text}
{block:Photo}
<figure class="photo">
  {LinkOpenTag}
  <img src="{PhotoURL-HighRes}" width="{PhotoWidth-HighRes}" height="{PhotoHeight-HighRes}" alt="{PhotoAlt}" />
  {LinkCloseTag}
  {block:NotReblog}
  {block:Caption}
  <figcaption class="post_content">
    {Caption}
  </figcaption>
  {/block:Caption}
  {/block:NotReblog}
</figure>
{block:RebloggedFrom}
<div class="post_content reblog_list">
  {block:Reblogs}
  <section class="reblog_entry{block:isOriginalEntry} original{/block:isOriginalEntry}">
    <div class="reblog_content">
      {Body}
    </div>
    <header class="reblog_header">
      <div class="reblog_info">
        <img class="portrait" src="{PortraitURL-64}" width="32" height="32" alt="{Username}" role="presentation" align="left" />
        <p class="reblogged_from">
          {lang:Reblogged from}<br />
          {block:HasPermalink}
          <a href="{Permalink}" rel="author">{Username}</a>
          {/block:HasPermalink}
          {block:HasNoPermalink}
          <span class="desactivated">{Username}</span>
          {/block:HasNoPermalink}
        </p>
      </div>
    </header>
  </section>
  {/block:Reblogs}
</div>
{/block:RebloggedFrom}
{/block:Photo}
{block:Panorama}
<figure class="photo panorama">
  {LinkOpenTag}
  <img src="{PhotoURL-Panorama}" alt="{PhotoAlt}" width="{PhotoWidth-Panorama}" height="{PhotoHeight-Panorama}" />
  {LinkCloseTag}
  {block:NotReblog}
  {block:Caption}
  <figcaption class="post_content">
    {Caption}
  </figcaption>
  {/block:Caption}
  {/block:NotReblog}
</figure>
{block:RebloggedFrom}
<div class="post_content reblog_list">
  {block:Reblogs}
  <section class="reblog_entry{block:isOriginalEntry} original{/block:isOriginalEntry}">
    <div class="reblog_content">
      {Body}
    </div>
    <header class="reblog_header">
      <div class="reblog_info">
        <img class="portrait" src="{PortraitURL-64}" width="32" height="32" alt="{Username}" role="presentation" align="left" />
        <p class="reblogged_from">
          {lang:Reblogged from}<br />
          {block:HasPermalink}
          <a href="{Permalink}" rel="author">{Username}</a>
          {/block:HasPermalink}
          {block:HasNoPermalink}
          <span class="desactivated">{Username}</span>
          {/block:HasNoPermalink}
        </p>
      </div>
    </header>
  </section>
  {/block:Reblogs}
</div>
{/block:RebloggedFrom}
{/block:Panorama}
{block:Photoset}
<figure class="photo photoset">
  {Photoset}
  {block:NotReblog}
  {block:Caption}
  <figcaption class="post_content">
    {Caption}
  </figcaption>
  {/block:Caption}
  {/block:NotReblog}
</figure>
{block:RebloggedFrom}
<div class="post_content reblog_list">
  {block:Reblogs}
  <section class="reblog_entry{block:isOriginalEntry} original{/block:isOriginalEntry}">
    <div class="reblog_content">
      {Body}
    </div>
    <header class="reblog_header">
      <div class="reblog_info">
        <img class="portrait" src="{PortraitURL-64}" width="32" height="32" alt="{Username}" role="presentation" align="left" />
        <p class="reblogged_from">
          {lang:Reblogged from}<br />
          {block:HasPermalink}
          <a href="{Permalink}" rel="author">{Username}</a>
          {/block:HasPermalink}
          {block:HasNoPermalink}
          <span class="desactivated">{Username}</span>
          {/block:HasNoPermalink}
        </p>
      </div>
    </header>
  </section>
  {/block:Reblogs}
</div>
{/block:RebloggedFrom}
{/block:Photoset}
{block:Quote}
<div class="post_content">
  <blockquote class="quote {Length}">
    <div class="quoted-text">
      &ldquo;{Quote}&rdquo;
    </div>
    {block:Source}
    <cite class="quote-source">&mdash; {Source}</cite>
    {/block:Source}
  </blockquote>
</div>
{/block:Quote}
{block:Link}
{block:NotReblog}
<div class="post_content">
  {block:Excerpt}
  <blockquote class="link_excerpt">
    <p>{Excerpt}</p>
    {block:Author}
    <cite class="link_author">&mdash; {Author}</cite>
    {/block:Author}
  </blockquote>
  {/block:Excerpt}
  {Description}
</div>
{/block:NotReblog}
{block:RebloggedFrom}
<div class="post_content reblog_list">
  {block:Reblogs}
  <section class="reblog_entry{block:isOriginalEntry} original{/block:isOriginalEntry}">
    <div class="reblog_content">
      {Body}
    </div>
    <header class="reblog_header">
      <div class="reblog_info">
        <img class="portrait" src="{PortraitURL-64}" width="32" height="32" alt="{Username}" role="presentation" align="left" />
        <p class="reblogged_from">
          {lang:Reblogged from}<br/>
          {block:HasPermalink}
          <a href="{Permalink}" rel="author">{Username}</a>
          {/block:HasPermalink}
          {block:HasNoPermalink}
          <span class="desactivated">{Username}</span>
          {/block:HasNoPermalink}
        </p>
      </div>
    </header>
  </section>
  {/block:Reblogs}
</div>
{/block:RebloggedFrom}
{/block:Link}
{block:Chat}
<div class="post_content">
  <ul class="chat">
    {block:Lines}
    <li class="{Alt} user_{UserNumber}">
      {block:Label}<strong class="speaker">{Label}</strong>{/block:Label} <span class="says">{Line}</span>
    </li>
    {/block:Lines}
  </ul>
</div>
{/block:Chat}
{block:Audio}
<div class="audio_container">
  {block:AudioEmbed}
  {AudioEmbed-640}
  {/block:AudioEmbed}
  {block:AudioPlayer}
  <div class="audio_info">
    {block:AlbumArt}
    <div class="album_art">
      <img src="{AlbumArtURL}" alt="" role="presentation" />
    </div>
    {/block:AlbumArt}
    <div class="player_container">
      <p class="track_details">{block:TrackName}<span class="track_name">{TrackName}</span>{/block:TrackName}{block:Artist} &mdash; {Artist}{/block:Artist}</p>
      {AudioPlayer}
    </div>
  </div>
  {/block:AudioPlayer}
  {block:NotReblog}
  <div class="post_content">
    {Caption}
  </div>
  {/block:NotReblog}
  {block:RebloggedFrom}
  <div class="post_content reblog_list">
    {block:Reblogs}
    <section class="reblog_entry{block:isOriginalEntry} original{/block:isOriginalEntry}">
      <div class="reblog_content">
        {Body}
      </div>
      <header class="reblog_header">
        <div class="reblog_info">
          <img class="portrait" src="{PortraitURL-64}" width="32" height="32" alt="{Username}" role="presentation" align="left" />
          <p class="reblogged_from">
            {lang:Reblogged from}<br />
            {block:HasPermalink}
            <a href="{Permalink}" rel="author">{Username}</a>
            {/block:HasPermalink}
            {block:HasNoPermalink}
            <span class="desactivated">{Username}</span>
            {/block:HasNoPermalink}
          </p>
        </div>
      </header>
    </section>
    {/block:Reblogs}
  </div>
  {/block:RebloggedFrom}
</div>
{/block:Audio}
{block:Video}
<figure class="video_block{block:Caption} with_caption{/block:Caption}">
  <div class="video_wrapper">
    {Video-700}
  </div>
  {block:NotReblog}
  {block:Caption}
  <figcaption class="post_content">
    {Caption}
  </figcaption>
  {/block:Caption}
  {/block:NotReblog}
</figure>
{block:RebloggedFrom}
<div class="post_content reblog_list">
  {block:Reblogs}
  <section class="reblog_entry{block:isOriginalEntry} original{/block:isOriginalEntry}">
    <div class="reblog_content">
      {Body}
    </div>
    <header class="reblog_header">
      <div class="reblog_info">
        <img class="portrait" src="{PortraitURL-64}" width="32" height="32" alt="{Username}" role="presentation" align="left" />
        <p class="reblogged_from">
          {lang:Reblogged from}<br />
          {block:HasPermalink}
          <a href="{Permalink}" rel="author">{Username}</a>
          {/block:HasPermalink}
          {block:HasNoPermalink}
          <span class="desactivated">{Username}</span>
          {/block:HasNoPermalink}
        </p>
      </div>
    </header>
  </section>
  {/block:Reblogs}
</div>
{/block:RebloggedFrom}
{/block:Video}
{block:Answer}
<section class="question_and_answer">
  <header class="question">
    <div class="question_info">
      <img class="portrait" src="{AskerPortraitURL-64}" width="32" height="32" role="presentation" alt="" align="left" />
      <p class="asker">
        {Asker}:
      </p>
    </div>
    <h5 class="q">{Question}</h5>
  </header>
  {block:Answerer}
  <div class="answer">
    <div class="answerer_info">
      <img class="portrait" src="{AnswererPortraitURL-64}" width="32" height="32" role="presentation" alt="" align="left" />
      <p class="asnwerer">
        {Answerer}:
      </p>
    </div>
    <div class="a">
      {Answer}
    </div>
  </div>
  {/block:Answerer}
  {block:NotReblog}
  <div class="post_content replies">
    {Replies}
  </div>
  {/block:NotReblog}
  {block:RebloggedFrom}
  <div class="post_content reblog_list">
    {block:Reblogs}
    <section class="reblog_entry{block:isOriginalEntry} original{/block:isOriginalEntry}">
      <div class="reblog_content">
        {Body}
      </div>
      <header class="reblog_header">
        <div class="reblog_info">
          <img class="portrait" src="{PortraitURL-64}" width="32" height="32" alt="{Username}" role="presentation" align="left" />
          <p class="reblogged_from">
            {lang:Reblogged from}<br />
            {block:HasPermalink}
            <a href="{Permalink}" rel="author">{Username}</a>
            {/block:HasPermalink}
            {block:HasNoPermalink}
            <span class="desactivated">{Username}</span>
            {/block:HasNoPermalink}
          </p>
        </div>
      </header>
    </section>
    {/block:Reblogs}
  </div>
  {/block:RebloggedFrom}
</section>
{/block:Answer}
{block:Date}
<footer class="post_footer">
  <p class="post_info">
    {block:Video}
    <span class="info play_count">{PlayCountWithLabel}</span>
    {/block:Video}
    {block:RebloggedFrom}
    <a class="info via" href="{ReblogParentURL}">{lang:Via}</a>
    {/block:RebloggedFrom}
    {block:ContentSource}
    <a class="info source" href="{SourceUR}">{lang:Source}</a>
    {/block:ContentSource}
    {block:IndexPage}
    {block:NoteCount}
    <a class="info note_count" href="{Permalink}#notes">{lang:Notes}<sup>({NoteCount})</sup></a>
    {/block:NoteCount}
    {block:IfDisqusShortname}
    <a class="info comment_count" href="{Permalink}#disqus_thread">{lang:View comments}</a>
    {/block:IfDisqusShortname}
    {/block:IndexPage}
  </p>
  {block:HasTags}
  <div class="post_tags">
    <p>{lang:Tagged with}</p>
    <ul class="tags">
      {block:Tags}
      <li><a class="tag_link" href="{TagURL}" rel="tag">{Tag}</a></li>
      {/block:Tags}
    </ul>
  </div>
  {/block:HasTags}
</footer>
{block:PermalinkPage}
{block:IfDisqusShortname}
<div class="post_comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_config = function () {
      this.page.url = '{Permalink}';
      this.page.identifier = '{PostID}';
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://{text:Disqus Shortname}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>{lang:Blog comments powered by Disqus 2}</noscript>
</div>
{/block:IfDisqusShortname}
{/block:PermalinkPage}
{/block:Date}
</article>
{/block:Posts}
{block:Pagination}
<nav class="pagination">
  {block:PreviousPage}
  <a href="{PreviousPage}" rel="prev">&larr; {lang:Newer posts}</a>
  {/block:PreviousPage}
  {block:NextPage}
  <a href="{NextPage}" rel="next">{lang:Older posts} &rarr;</a>
  {/block:NextPage}
  <a class="archive_link" href="/archive">{lang:Browse the archive}</a>
</nav>
{/block:Pagination}
{block:PermalinkPagination}
<nav class="pagination">
  {block:PreviousPost}
  <a href="{PreviousPost}" rel="prev">&larr; {lang:Previous post}</a>
  {/block:PreviousPost}
  {block:NextPost}
  <a href="{NextPost}" rel="next">{lang:Next post} &rarr;</a>
  {/block:NextPost}
  <a class="random_link" href="/random">({lang:Random post})</a>
</nav>
{/block:PermalinkPagination}
{block:DayPagination}
<nav class="pagination">
  {block:PreviousDayPage}
  <a href="{PreviousDayPage}" rel="prev">&larr; {lang:Previous day}</a>
  {/block:PreviousDayPage}
  {block:NextDayPage}
  <a href="{NextDayPage}" rel="next">{lang:Next day} &rarr;</a>
  {/block:NextDayPage}
  <a class="archive_link" href="/archive">{lang:Browse the archive}</a>
</nav>
{/block:DayPagination}
