<footer class="post_footer">
  <p class="post_info">
    {block:Video}
    <span class="info play_count">{PlayCountWithLabel}</span>
    {/block:Video}
    {block:RebloggedFrom}
    <a class="info via" href="{ReblogParentURL}">{lang:Via}</a>
    {/block:RebloggedFrom}
    {block:ContentSource}
    <a class="info source" href="{SourceUR}">{lang:Source}</a>
    {/block:ContentSource}
    {block:IndexPage}
    {block:NoteCount}
    <a class="info note_count" href="{Permalink}#notes">{lang:Notes}<sup>({NoteCount})</sup></a>
    {/block:NoteCount}
    {/block:IndexPage}
  </p>
  {block:HasTags}
  <div class="post_tags">
    <p>{lang:Tagged with}</p>
    <ul class="tags">
      {block:Tags}
      <li><a class="tag_link" href="{TagURL}" rel="tag">{Tag}</a></li>
      {/block:Tags}
    </ul>
  </div>
  {/block:HasTags}
</footer>
