{block:Date}
	{block:PermalinkPage}
		{block:IfDisqusShortname}
			<div class="post_comments">
				<div id="disqus_thread"></div>
				<script type="text/javascript">
					var disqus_config = function () {
						this.page.url = '{Permalink}';
						this.page.identifier = '{PostID}';
					};

					(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = 'https://{text:Disqus Shortname}.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
					})();
				</script>
				<noscript>{lang:Blog comments powered by Disqus 2}</noscript>
			</div>
		{/block:IfDisqusShortname}
	{/block:PermalinkPage}
{/block:Date}
