{block:RebloggedFrom}
	<div class="post_content reblog_list">
		{block:Reblogs}
			<section class="reblog_entry{block:isOriginalEntry} original{/block:isOriginalEntry}">
				<div class="reblog_content">
					{Body}
				</div>

				<header class="reblog_header">
	      			<div class="reblog_info">
						<img class="portrait" src="{PortraitURL-64}" width="32" height="32" alt="{Username}" role="presentation" align="left" />

	        			<p class="reblogged_from">
	          				{lang:Reblogged from}<br />
	          				{block:HasPermalink}
		          				<a href="{Permalink}" rel="author">
									{Username}
								</a>
							{/block:HasPermalink}
		          		  	{block:HasNoPermalink}
								<span class="desactivated">
									{Username}
								</span>
		          			{/block:HasNoPermalink}
						</p>
					</div>
				</header>
			</section>
	  {/block:Reblogs}
	</div>
{/block:RebloggedFrom}
