{block:Hidden}
  <meta name="image:Logo" />
  <meta name="color:Text color" content="#4a4a4a" />
  <meta name="color:Content background color" content="#f6f6f6" />
  <meta name="font:Text font" content="Baskerville" />
  <meta name="select:Header decoration" content="none" title="None" />
  <meta name="select:Header decoration" content="wave" title="Wave" />
  <meta name="select:Header decoration" content="fade" title="Fade" />
  <meta name="select:Header decoration" content="bars" title="Bars" />
  <meta name="if:Show menu" content="1" />
  <meta name="text:Sidebar widget" />
  <meta name="text:Footer widget" />
  <meta name="text:Copyright text" />
  <meta name="text:Disqus shortname" />
  <meta name="text:Twitter widget title" content="Tweets" />
  <meta name="text:Tweets to show" content="6" />
  <meta name="text:Google Analytics UID" />
  <meta name="text:Twitter URL" />
  <meta name="text:Facebook URL" />
  <meta name="text:YouTube URL" />
  <meta name="text:Instagram URL" />
  <meta name="text:Pinterest URL" />
  <meta name="text:Custom RSS URL" />
{/block:Hidden}
