$color-text: var(--color-text);
$color-text-rgb: var(--rgb-color-text);
$color-title: var(--color-title);
$color-title-rgb: var(--rgb-color-title);

$color-accent: var(--color-accent);
$color-accent-rgb: var(--rgb-color-accent);

$color-background: var(--color-background);
$color-background-rgb: var(--rgb-color-background);

$color-header: var(--color-header);
$color-header-rgb: var(--rgb-color-header);

$color-footer: $color-accent;
$color-footer-rgb: $color-accent-rgb;

$base-font-family: var(--base-font-family);
$body-font-family: var(--body-font-family);
$title-font-weight: var(--headings-font-weight);

$content-width: 1020px;
$on-laptop: 960px;
$on-palm: 700px;
$spacing-unit: 20px;

@mixin media-query($device) {
  @media (max-width: $device) {
    @content;
  }
}

@import "_sass/base";
@import "_sass/layout";
