/*
	Basics
*/

html {
	font-size: 62.5%; // 10px = 1rem;
	font-family: $base-font-family;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: $color-background;
	color: $color-text;
	font: normal #{1.6rem}/#{1.5} $base-font-family;
	width: 100vw;
	overflow-x: hidden;
}

// Resets some basic styling
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
	margin: 0;
	padding: 0;
}

/*
	Text Elements
*/

.post_content {
	font-size: 1.8rem;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: calc(#{$spacing-unit} / #{2});
		margin-bottom: calc(#{$spacing-unit} / #{2});
	}

	h1,
	h2,
	h3,
	h5,
	h6,
	h6,
	p,
	ul,
	ol,
	dl,
	pre,
	table {
		&:not(.full-width) {
			padding-left: 3rem;
			padding-right: 5rem;

			@include media-query($on-palm) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	p,
	ul,
	ol,
	dl,
	blockquote,
	pre,
	figure,
	iframe {
		margin-bottom: $spacing-unit;
	}

	p,
	ul,
	ol,
	dl,
	blockquote {
		font-family: $body-font-family;
	}
}

// Blockquotes
blockquote,
.npf_quote,
.npf_indented {
	font-style: italic;

	@include media-query($on-palm) {
		padding-left: $spacing-unit;
		padding-right: $spacing-unit;
	}

	&:not(.pull),
	&:not(.first-child),
	&:not(.link_excerpt) {
		border-left: 3px dashed rgba($color-text-rgb, 0.2);
		border-right: 3px dashed rgba($color-text-rgb, 0.2);
		padding-left: calc(#{$spacing-unit} * #{1.5});
		padding-right: calc(#{$spacing-unit} * #{1.5});
		color: rgba($color-text-rgb, 0.65);
	}

	&.link_excerpt {
		font-weight: normal;
		text-align: left;
		font-size: 0.8em;
		border: 1px dashed rgba($color-text-rgb, 0.7);
		padding: $spacing-unit calc(#{$spacing-unit} / #{2});

		& > :last-child {
			margin-bottom: 0;
		}
	}

	&.quote {
		text-align: center;
	}

	cite {
		font: #{400} #{1.4rem}/#{1.5} $base-font-family;
		color: rgba($color-text-rgb, 0.7);
	}
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.45;
}

h1,
h2,
h3 {
	font-weight: normal;
}

h4,
h5,
h6 {
	font-weight: bolder;
}

h1 {
	font-size: 2.7rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2.2rem;
}

h4 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1.4rem;
}

h6 {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 400;
}

// Lists

ul,
ol,
dl {
	margin-left: $spacing-unit;
}

ul,
ol {
	ul,
	ol {
		margin-bottom: 0;
	}

	li:not(:last-child) {
		margin-bottom: calc(#{$spacing-unit} / #{2});
	}
}

ul {
	list-style: square;

	ul {
		list-style: disc;
	}
}

ol {
	list-style: decimal;

	ol {
		list-style: lower-alpha;
	}
}

// Links
a {
	color: currentColor;
	text-decoration: none;
	transition: color 250ms ease;

	&:hover,
	&:focus {
		color: $color-accent;
	}
}

// Multimedia

img {
	max-width: 100%;
	height: auto;
}

.full-width img {
	width: 100%;
}

iframe,
video,
object,
.tumblr_video_container {
	max-width: 100%;
	margin-bottom: $spacing-unit;

	&.full-width {
		width: 100%;
	}
}

.tumblr_video_container {
	height: auto !important;
}

img + em,
iframe + p > em:first-child:last-child {
	font: 400 #{1.2rem}/#{1.25} $base-font-family;
	color: rgba($color-text-rgb, 0.7);
	display: block;
	max-width: 600px;
}

// Horizontal rule

hr {
	margin-top: calc(#{$spacing-unit} * #{3});
	margin-bottom: calc(#{$spacing-unit} * #{3});
	border: none;
	display: block;
	width: 100%;
	height: 0;
	border-top: 1px dashed $color-accent;
	transform: rotate(-2deg);
}

// Forms
label {
	font-size: 1.2rem;
	line-height: 1.5;
	font-family: $base-font-family;
	color: rgba($color-text, 0.75);
}

input[type="text"],
input[type="email"],
input[type="search"],
textarea {
	-webkit-appearance: none;
	background-color: transparent;
	border: none;
	border-bottom: 3px dashed rgba($color-text-rgb, 0.2);
	border-radius: 0;
	padding: calc(#{$spacing-unit} / #{4});
	cursor: text;
	font: inherit;
	font-family: $base-font-family;
	width: 100%;
	transition: border-bottom-color 250ms linear;
	color: inherit;

	&:focus,
	&:active {
		outline: none;
		border-bottom-color: $color-header;
	}
}

textarea {
	resize: none;
	min-height: 15vh;
}

input[type="button"],
input[type="submit"],
button {
	-webkit-appearance: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
	background: transparent;
	font: inherit;
	font-family: $base-font-family;
	display: inline-block;
	width: auto;
	box-shadow: inset 0 -3px 0 $color-header;
	transition-property: color, box-shadow;
	transition-duration: 250ms;
	transition-timing-function: ease;

	&:hover,
	&:focus {
		box-shadow: inset 0 -2.5em 0 $color-header;
		color: $color-background;
	}

	&:active {
		box-shadow: inset 0 -2.5em 0 $color-accent;
	}
}

// Multimedia

img {
	max-width: 100%;
	height: auto;
}

.full-width img {
	width: 100%;
}

iframe,
video,
object {
	max-width: 100%;

	&.full-width {
		width: 100%;
	}
}

img + em {
	font: 400 #{1.2rem}/#{1.25} $base-font-family;
	color: rgba($color-text-rgb, 0.7);
	display: block;
	max-width: 600px;
}

// Horizontal rule

hr {
	margin-top: calc(#{$spacing-unit} * #{3});
	margin-bottom: calc(#{$spacing-unit} * #{3});
	border: none;
	display: block;
	width: 100%;
	height: 0;
	border-top: 1px dashed $color-accent;
	transform: rotate(-2deg);
}
